rclpy

open3d==0.18.0          
numpy>=1.21            
matplotlib             

rosbag2_py             

loguru                  
tqdm                    
pyyaml                 
requests                

opencv-python       

pybind11
